/* 그대로 사용해도 되고, 원하는대로 바꿔서 사용해도 됨 */

body {
    text-align: center;
}

ul {
    list-style-type: none;
    display : flex;
    width : 280px;
    margin : auto;
}

li {
    padding : 10px;
}

a {
    text-decoration: none;
}

.menuBox div {
    display: inline-block;
    margin: 5px;
}

.menuItem {
    width: 300px;
    background-color: lightgrey;
    cursor: pointer;
    color: white;
    padding : 5px;
}

.menuItem:hover {
    background-color: gray;
}